<form novalidate role='form' ng-submit='userForm.$valid && addUser()' name='userForm'>
  <div class='row'>
    <div class='form-group' ng-class="{ 'has-error' : userForm.userName.$invalid && userForm.userName.$dirty }" >
      <label for='user-name' class='control-label'>Name:</label>
      <input type='text' name='userName' id='user-name' ng-model='user.name' placeholder='e.g. John Smith' class='form-control' required ng-minlength=3>
    </div>
    <div class='form-group' ng-class="{ 'has-error' : userForm.userLocation.$invalid && userForm.userLocation.$dirty }">
      <label for='user-location' class='control-label'>Location:</label>
      <input type='text' name='userLocation' id='user-location' class='form-control' placeholder='e.g. Poznan' ng-model='user.location' required ng-minlength=3>
    </div>
    <button type='submit' class='btn btn-primary'>Add</submit>
  </div>
</form>
