<div class='container'>
  <div ng-controller='MapCtrl' ng-init='getLocation()'>
    <google-map draggable=true control='googleMap' center='centerOn' zoom='zoom'>
      <marker coords='currentPosition.coords' >
        <marker-label anchor='22 0' class='map-marker-label' content='currentPosition.options.labelContent'></marker-label>
      </marker>
      <marker ng-repeat='user in people' coords="user.coordinates">
        <marker-label anchor='22 0' class='map-marker-label' content='user.name'></marker-label>
      </marker>
    </google-map>
  </div>
  <h2>People</h2>
  <user-form></user-form>
  <users-table></users-table>
</div>
